<div class="contents">
     <div class="row"> 
          <font class="col-10 left title">
               Your COVID health Status
          </font>
          <div class="col-2 right">
               <i class="fa fa-flip-vertical">
                    <i class="fa fa-refresh refreshStatus" type="button" onclick="refreshStatus()"></i>
               </i>
          </div>
     </div>    
     <div class="row" style="margin-top: 15px;"> 
          <div class="col-6 vaccineStatus" onclick="MockChangeVaccineStatus()" >               
          </div>
          <div class="col-6 testStatus">               
          </div>
     </div>   
</div>
