<div style="padding-top: 0px; position: fixed;bottom: 0%;width: 100%;right:0px;text-align: center; font-size: 12px; color: rgb(190, 190, 190);background-color: white;">    
     <div class="row" style="margin:10px"> <hr />
          <font class="col-3 red navBtn1" onclick="triggerNavAction(1)">
               <i class="fas fa-home navIcon"></i> <br/>Home
          </font>
          <font class="col-3 navBtn2" onclick="triggerNavAction(2)">
               <i class="fas fa-history navIcon"></i> <br/>History
          </font>
          <font class="col-3 navBtn3" onclick="triggerNavAction(3)">
               <i class="fas fa-upload navIcon"></i> <br/>Upload
          </font>
          <font class="col-3 navBtn4" onclick="triggerNavAction(4)">
               <i class="fas fa-align-justify navIcon"></i> <br/>More
          </font>
     </div>
</div>
<!-- 
<div class="navbar">
     <a href="#home" class="active">Home</a>
     <a href="#news">News</a>
     <a href="#contact">Contact</a>
   </div> -->