<div class="contents" style="padding-top: 0px;">
     <hr />
     <div class="row">
          <font class="col-10 left title ">
               <img src='/src/images/safeEntryIcon.png' class="safeEntryIcon" /> SafeEntry check in
          </font>
     </div>
     <div class="SafeEntryOverall">
          <div class="SafeEntryCheckinMenu">
               <div class="row">
                    <div class="col-4">
                         <div class="safeEntryImgButton">
                              <img src='/src/images/QR.png' /><br/>
                              <font>Scan QR</font>
                         </div>
                    </div>
                    <div class="col-4">
                         <div class="safeEntryImgButton">
                              <img src='/src/images/favourite.png' /><br/>
                              <font>Favourites</font>
                         </div>
                    </div>
                    <div class="col-4">
                         <div class="safeEntryImgButton">
                              <img src='/src/images/PeopleGroup.png' /><br/>
                              <font>Group</font>
                         </div>
                    </div>
               </div>
          </div>
          <div class="SafeEntryCheckinHistory">
               <div class="row" style="margin:10px">                    
                    <font>Last check in</font> <br/>
                    <div class="col-8" style="margin:auto;"><font style="font-weight: bold;">GIANT PAYA LEBAR SQ</font> </div>
                    <div class="col-4" style="text-align: right;"><button type="button" class="btn btn-outline-primary">Check Out</button> </div>
                     
               </div>
          </div>
     </div>
</div>