<div class="contents" style="padding-top: 0px;">
     <br/>
     <hr />
     <div class="shareApp">          
               <div class="row">
                    <div class="col-3">
                         <img src='/src/images/share.png' /><br/>
                    </div>
                    <div class="col-7" style="margin: auto;">
                        Stay safe together. <br/>
                        Share the app!
                    </div>
                    <div class="col-2" style="margin: auto;">
                         >
                    </div>
               </div>
     </div> 
</div>